@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: nunito;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }


  .beneficios{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: ;
}

.bene{
  background-color: #0085ca;
  display: flex;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 20px;
  border-radius: 20px;

  padding: 18px;
  text-align: center;

  color: #fff;
  font-size: 25px;
}



}